# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*/__pycache__/
db.sqlite3

# VSCode
.vscode/

# Python
*.egg-info/
.env
.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# Static build cache
staticfiles/
static/

# Byte-compiled / optimized files
*.cached
*.cache

# OS basura
Thumbs.db
.DS_Store

# Git
FETCH_HEAD
